# 1) Initial import and cleaning

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel(r'C:\Users\fames\Desktop\Data Analyst\Machine Learning\Tabla Inicial.xlsx', sheet_name='Cleaned_table')

In [3]:
df

,Team,Points,Played,Wins,Draws,Losses,Goals For,Goals Against,Difference,Team Strenght,Group Difficulty,Top of the group?,Stage Reached,Country,Unnamed: 14,Unnamed: 15
0,Roma 2016,6,6,1,3,2,11,16,-5,3,3,0,1,Italy,NaN,NaN
1,Zenit 2014,6,6,1,3,2,5,9,-4,4,1,0,1,Russia,NaN,NaN
2,Atlético Madrid 2022,7,6,2,1,3,7,8,-1,7,3,0,2,Spain,NaN,NaN
3,Atalanta 2020,7,6,2,1,3,8,12,-4,1,2,0,2,Italy,NaN,NaN
4,Basilea 2015,7,6,2,1,3,7,8,-1,5,3,0,1,Switzerland,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,Ajax 2022,18,6,6,0,0,20,5,15,5,2,1,1,Netherlands,NaN,NaN
156,Bayern Munich 2022,18,6,6,0,0,22,3,19,8,4,1,2,Germany,NaN,NaN
157,Liverpool 2022,18,6,6,0,0,17,6,11,6,3,1,3,England,NaN,1.0
158,Bayern Munich 2020,18,6,6,0,0,24,5,19,8,3,1,3,Germany,NaN,NaN
159,Real Madrid 2015,18,6,6,0,0,16,2,14,8,3,1,3,Spain,NaN,NaN

In [4]:
df = df.drop(columns='Unnamed: 15')

In [5]:
df = df.drop(columns='Unnamed: 14')

In [6]:
df = df.drop(columns='Played')

In [7]:
df

,Team,Points,Wins,Draws,Losses,Goals For,Goals Against,Difference,Team Strenght,Group Difficulty,Top of the group?,Stage Reached,Country
0,Roma 2016,6,1,3,2,11,16,-5,3,3,0,1,Italy
1,Zenit 2014,6,1,3,2,5,9,-4,4,1,0,1,Russia
2,Atlético Madrid 2022,7,2,1,3,7,8,-1,7,3,0,2,Spain
3,Atalanta 2020,7,2,1,3,8,12,-4,1,2,0,2,Italy
4,Basilea 2015,7,2,1,3,7,8,-1,5,3,0,1,Switzerland
...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,Ajax 2022,18,6,0,0,20,5,15,5,2,1,1,Netherlands
156,Bayern Munich 2022,18,6,0,0,22,3,19,8,4,1,2,Germany
157,Liverpool 2022,18,6,0,0,17,6,11,6,3,1,3,England
158,Bayern Munich 2020,18,6,0,0,24,5,19,8,3,1,3,Germany
159,Real Madrid 2015,18,6,0,0,16,2,14,8,3,1,3,Spain

In [8]:
# Create binary columns based on conditions
df['Finished Second'] = (df['Top of the group?'] == 0).astype(int)
df['Dif 1_top1'] = (df['Top of the group?'] == 1) & (df['Group Difficulty'] == 1).astype(int)
df['Dif 2_top1'] = (df['Top of the group?'] == 1) & (df['Group Difficulty'] == 2).astype(int)
df['Dif 3_top1'] = (df['Top of the group?'] == 1) & (df['Group Difficulty'] == 3).astype(int)
df['Dif 4_top1'] = (df['Top of the group?'] == 1) & (df['Group Difficulty'] == 4).astype(int)

# Drop the original 'Top of the group?' and 'Group Difficulty' columns
df = df.drop(columns=['Top of the group?', 'Group Difficulty'])

# Now, df will have 5 binary columns as specified

In [9]:
df.columns

Index(['Team', 'Points', 'Wins', 'Draws', 'Losses', 'Goals For',
       'Goals Against', 'Difference', 'Team Strenght', 'Stage Reached',
       'Country', 'Finished Second', 'Dif 1_top1', 'Dif 2_top1', 'Dif 3_top1',
       'Dif 4_top1'],
      dtype='object')

In [10]:
df

,Team,Points,Wins,Draws,Losses,Goals For,Goals Against,Difference,Team Strenght,Stage Reached,Country,Finished Second,Dif 1_top1,Dif 2_top1,Dif 3_top1,Dif 4_top1
0,Roma 2016,6,1,3,2,11,16,-5,3,1,Italy,1,False,False,False,False
1,Zenit 2014,6,1,3,2,5,9,-4,4,1,Russia,1,False,False,False,False
2,Atlético Madrid 2022,7,2,1,3,7,8,-1,7,2,Spain,1,False,False,False,False
3,Atalanta 2020,7,2,1,3,8,12,-4,1,2,Italy,1,False,False,False,False
4,Basilea 2015,7,2,1,3,7,8,-1,5,1,Switzerland,1,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,Ajax 2022,18,6,0,0,20,5,15,5,1,Netherlands,0,False,True,False,False
156,Bayern Munich 2022,18,6,0,0,22,3,19,8,2,Germany,0,False,False,False,True
157,Liverpool 2022,18,6,0,0,17,6,11,6,3,England,0,False,False,True,False
158,Bayern Munich 2020,18,6,0,0,24,5,19,8,3,Germany,0,False,False,True,False
159,Real Madrid 2015,18,6,0,0,16,2,14,8,3,Spain,0,False,False,True,False

In [11]:
df.drop(columns='Points',inplace=True)

In [12]:
df.head()

,Team,Wins,Draws,Losses,Goals For,Goals Against,Difference,Team Strenght,Stage Reached,Country,Finished Second,Dif 1_top1,Dif 2_top1,Dif 3_top1,Dif 4_top1
0,Roma 2016,1,3,2,11,16,-5,3,1,Italy,1,False,False,False,False
1,Zenit 2014,1,3,2,5,9,-4,4,1,Russia,1,False,False,False,False
2,Atlético Madrid 2022,2,1,3,7,8,-1,7,2,Spain,1,False,False,False,False
3,Atalanta 2020,2,1,3,8,12,-4,1,2,Italy,1,False,False,False,False
4,Basilea 2015,2,1,3,7,8,-1,5,1,Switzerland,1,False,False,False,False

# 2) Standarizing numerical variables

In [15]:
from sklearn.preprocessing import StandardScaler

# Create a StandardScaler instance
scaler = StandardScaler()


# Define the numerical columns to standardize
numerical_columns = ['Wins', 'Draws', 'Losses', 'Goals For',
                     'Goals Against', 'Difference', 'Team Strenght']

# Apply standardization to the selected columns
df[numerical_columns] = scaler.fit_transform(df[numerical_columns])

In [16]:
df

,Team,Wins,Draws,Losses,Goals For,Goals Against,Difference,Team Strenght,Stage Reached,Country,Finished Second,Dif 1_top1,Dif 2_top1,Dif 3_top1,Dif 4_top1
0,Roma 2016,-2.458711,1.719767,1.051535,-0.301752,3.518595,-2.153173,-1.403763,1,Italy,1,False,False,False,False
1,Zenit 2014,-2.458711,1.719767,1.051535,-1.764793,1.049406,-1.961140,-0.896760,1,Russia,1,False,False,False,False
2,Atlético Madrid 2022,-1.524284,-0.252726,2.236362,-1.277113,0.696664,-1.385040,0.624247,2,Spain,1,False,False,False,False
3,Atalanta 2020,-1.524284,-0.252726,2.236362,-1.033272,2.107630,-1.961140,-2.417767,2,Italy,1,False,False,False,False
4,Basilea 2015,-1.524284,-0.252726,2.236362,-1.277113,0.696664,-1.385040,-0.389758,1,Switzerland,1,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,Ajax 2022,2.213424,-1.238972,-1.318121,1.892809,-0.361560,1.687492,-0.389758,1,Netherlands,0,False,True,False,False
156,Bayern Munich 2022,2.213424,-1.238972,-1.318121,2.380489,-1.067043,2.455625,1.131249,2,Germany,0,False,False,False,True
157,Liverpool 2022,2.213424,-1.238972,-1.318121,1.161289,-0.008819,0.919359,0.117244,3,England,0,False,False,True,False
158,Bayern Munich 2020,2.213424,-1.238972,-1.318121,2.868169,-0.361560,2.455625,1.131249,3,Germany,0,False,False,True,False
159,Real Madrid 2015,2.213424,-1.238972,-1.318121,0.917448,-1.419784,1.495459,1.131249,3,Spain,0,False,False,True,False

In [17]:
big_league_countries = ['Spain', 'Portugal', 'Italy', 'England', 'France', 'Germany']

# Create a new column 'Big League' based on the 'Country' column
df['Big League'] = np.where(df['Country'].isin(big_league_countries), 'yes', 'no')
df

,Team,Wins,Draws,Losses,Goals For,Goals Against,Difference,Team Strenght,Stage Reached,Country,Finished Second,Dif 1_top1,Dif 2_top1,Dif 3_top1,Dif 4_top1,Big League
0,Roma 2016,-2.458711,1.719767,1.051535,-0.301752,3.518595,-2.153173,-1.403763,1,Italy,1,False,False,False,False,yes
1,Zenit 2014,-2.458711,1.719767,1.051535,-1.764793,1.049406,-1.961140,-0.896760,1,Russia,1,False,False,False,False,no
2,Atlético Madrid 2022,-1.524284,-0.252726,2.236362,-1.277113,0.696664,-1.385040,0.624247,2,Spain,1,False,False,False,False,yes
3,Atalanta 2020,-1.524284,-0.252726,2.236362,-1.033272,2.107630,-1.961140,-2.417767,2,Italy,1,False,False,False,False,yes
4,Basilea 2015,-1.524284,-0.252726,2.236362,-1.277113,0.696664,-1.385040,-0.389758,1,Switzerland,1,False,False,False,False,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,Ajax 2022,2.213424,-1.238972,-1.318121,1.892809,-0.361560,1.687492,-0.389758,1,Netherlands,0,False,True,False,False,no
156,Bayern Munich 2022,2.213424,-1.238972,-1.318121,2.380489,-1.067043,2.455625,1.131249,2,Germany,0,False,False,False,True,yes
157,Liverpool 2022,2.213424,-1.238972,-1.318121,1.161289,-0.008819,0.919359,0.117244,3,England,0,False,False,True,False,yes
158,Bayern Munich 2020,2.213424,-1.238972,-1.318121,2.868169,-0.361560,2.455625,1.131249,3,Germany,0,False,False,True,False,yes
159,Real Madrid 2015,2.213424,-1.238972,-1.318121,0.917448,-1.419784,1.495459,1.131249,3,Spain,0,False,False,True,False,yes

In [18]:
# Convert 'Big League' column to binary
df['Big League'] = df['Big League'].apply(lambda x: 1 if x == 'yes' else 0)

In [19]:
df

,Team,Wins,Draws,Losses,Goals For,Goals Against,Difference,Team Strenght,Stage Reached,Country,Finished Second,Dif 1_top1,Dif 2_top1,Dif 3_top1,Dif 4_top1,Big League
0,Roma 2016,-2.458711,1.719767,1.051535,-0.301752,3.518595,-2.153173,-1.403763,1,Italy,1,False,False,False,False,1
1,Zenit 2014,-2.458711,1.719767,1.051535,-1.764793,1.049406,-1.961140,-0.896760,1,Russia,1,False,False,False,False,0
2,Atlético Madrid 2022,-1.524284,-0.252726,2.236362,-1.277113,0.696664,-1.385040,0.624247,2,Spain,1,False,False,False,False,1
3,Atalanta 2020,-1.524284,-0.252726,2.236362,-1.033272,2.107630,-1.961140,-2.417767,2,Italy,1,False,False,False,False,1
4,Basilea 2015,-1.524284,-0.252726,2.236362,-1.277113,0.696664,-1.385040,-0.389758,1,Switzerland,1,False,False,False,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,Ajax 2022,2.213424,-1.238972,-1.318121,1.892809,-0.361560,1.687492,-0.389758,1,Netherlands,0,False,True,False,False,0
156,Bayern Munich 2022,2.213424,-1.238972,-1.318121,2.380489,-1.067043,2.455625,1.131249,2,Germany,0,False,False,False,True,1
157,Liverpool 2022,2.213424,-1.238972,-1.318121,1.161289,-0.008819,0.919359,0.117244,3,England,0,False,False,True,False,1
158,Bayern Munich 2020,2.213424,-1.238972,-1.318121,2.868169,-0.361560,2.455625,1.131249,3,Germany,0,False,False,True,False,1
159,Real Madrid 2015,2.213424,-1.238972,-1.318121,0.917448,-1.419784,1.495459,1.131249,3,Spain,0,False,False,True,False,1

In [20]:
df.columns

Index(['Team', 'Wins', 'Draws', 'Losses', 'Goals For', 'Goals Against',
       'Difference', 'Team Strenght', 'Stage Reached', 'Country',
       'Finished Second', 'Dif 1_top1', 'Dif 2_top1', 'Dif 3_top1',
       'Dif 4_top1', 'Big League'],
      dtype='object')

# 3) Splitting data into Training and Testing Sets

In [21]:
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import classification_report, accuracy_score

In [22]:
X = df[['Wins', 'Draws', 'Losses', 'Goals For', 'Goals Against', 'Difference', 'Team Strenght', 'Big League','Finished Second', 'Dif 1_top1', 'Dif 2_top1', 'Dif 3_top1',
       'Dif 4_top1']]
y = df['Stage Reached']

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [24]:
# Define hyperparameters to search
param_grid = {
    'n_estimators': [50, 100, 150],
    'learning_rate': [0.1, 0.01, 0.001],
    'max_depth': [3, 4, 5],
}

# Initialize the Gradient Boosting Classifier
gb_classifier = GradientBoostingClassifier(random_state=42)

# Perform GridSearchCV
grid_search = GridSearchCV(gb_classifier, param_grid, cv=5)
grid_search.fit(X_train, y_train)

# Get the best model
best_gb_model = grid_search.best_estimator_

import joblib

# Save the trained model to a file
joblib.dump(best_gb_model, 'gb_model.pkl')

['gb_model.pkl']

In [25]:
y_pred = best_gb_model.predict(X_test)

# Print classification report and accuracy
print("Classification Report:\n", classification_report(y_test, y_pred))
print("Accuracy:", accuracy_score(y_test, y_pred))

Classification Report:
               precision    recall  f1-score   support

           1       0.67      0.67      0.67        18
           2       0.44      0.80      0.57         5
           3       0.60      0.33      0.43         9

    accuracy                           0.59        32
   macro avg       0.57      0.60      0.56        32
weighted avg       0.61      0.59      0.58        32

Accuracy: 0.59375

In [29]:
import pandas as pd
import joblib
from sklearn.metrics import classification_report, accuracy_score

# Load the test data (X_test and y_test)
# Assuming you have already defined X_test and y_test during your initial split
# If not, replace these lines with your test data loading code

# Load the trained model
gb_model = joblib.load('gb_model.pkl')

# Make predictions using the loaded model
y_pred = gb_model.predict(X_test)

# Print classification report and accuracy
print("Classification Report:\n", classification_report(y_test, y_pred))
print("Accuracy:", accuracy_score(y_test, y_pred))

# Create a DataFrame to compare real values (y_test) and predicted values (y_pred)
comparison_df = pd.DataFrame({'Real Values': y_test, 'Predicted Values': y_pred})

# Print the comparison DataFrame
print(comparison_df)

Classification Report:
               precision    recall  f1-score   support

           1       0.67      0.67      0.67        18
           2       0.44      0.80      0.57         5
           3       0.60      0.33      0.43         9

    accuracy                           0.59        32
   macro avg       0.57      0.60      0.56        32
weighted avg       0.61      0.59      0.58        32

Accuracy: 0.59375
     Real Values  Predicted Values
105            1                 2
108            2                 2
141            3                 3
55             1                 1
94             1                 2
29             3                 1
101            1                 3
51             1                 1
100            3                 1
142            3                 3
19             2                 1
84             1                 1
15             1                 1
66             1                 1
24             3                 1
30             3                 1
128            1                 1
147            1                 2
98             3                 2
16             1                 1
75             2                 2
18             1                 1
12             1                 1
9              3                 1
31             1                 1
151            3                 3
97             2                 2
56             1                 2
131            1                 1
104            2                 2
136            1                 3
78             1                 1

In [39]:
df[94:95]

,Team,Wins,Draws,Losses,Goals For,Goals Against,Difference,Team Strenght,Stage Reached,Country,Finished Second,Dif 1_top1,Dif 2_top1,Dif 3_top1,Dif 4_top1,Big League
94,Liverpool 2020,0.34457,-0.252726,-0.133293,0.185928,0.696664,-0.23284,0.624247,1,England,0,False,True,False,False,1

In [44]:
import joblib
import pandas as pd

# Load your pretrained model
model = joblib.load('gb_model.pkl')

# Define the column names
columns = ['Wins', 'Draws', 'Losses', 'Goals For', 'Goals Against',
           'Difference', 'Team Strenght', 'Big League', 'Finished Second',
           'Dif 1_top1', 'Dif 2_top1', 'Dif 3_top1', 'Dif 4_top1']

# Initialize an empty dictionary to store user input
user_input = {}

# Collect user input for each feature
for column in columns:
    value = input(f"Enter a value for '{column}': ")
    user_input[column] = float(value)  # Convert input to float (assuming numeric values)

# Create a DataFrame from the user's input
user_data = pd.DataFrame([user_input])

# Make a prediction using the model
predicted_stage = model.predict(user_data)[0]

# Define a dictionary to map predicted stages to human-readable labels
stage_labels = {
    1: 'Stage 1',
    2: 'Stage 2',
    3: 'Stage 3',
}

# Display the prediction result
print(f"The predicted stage for your team is: {stage_labels[predicted_stage]}")

Enter a value for 'Wins': 0.34457
Enter a value for 'Draws': -0.252726
Enter a value for 'Losses': -0.133293
Enter a value for 'Goals For': 0.185928
Enter a value for 'Goals Against': 0.696664
Enter a value for 'Difference': -0.23284
Enter a value for 'Team Strenght': 0.624247
Enter a value for 'Big League': 1
Enter a value for 'Finished Second': 0
Enter a value for 'Dif 1_top1': 0
Enter a value for 'Dif 2_top1': 1
Enter a value for 'Dif 3_top1': 0
Enter a value for 'Dif 4_top1': 0
The predicted stage for your team is: Stage 2